# OPENAI
OPENAI_API_KEY=your_key_here

# POSTGRES
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=futureedge
POSTGRES_USER=futureedge
POSTGRES_PASSWORD=futureedge

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# QDRANT
QDRANT_HOST=qdrant
QDRANT_PORT=6333

# LANGSMITH
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_key
LANGCHAIN_PROJECT=futureedge