asyncpg==0.31.0
fastapi==0.136.1
langgraph==1.2.0
loguru==0.7.3
numpy==2.4.5
pandas==3.0.3
pydantic==2.13.4
pydantic_settings==2.14.1
qdrant_client==1.18.0
SQLAlchemy==2.0.30
typing_extensions==4.15.0
langgraph-checkpoint
langgraph-checkpoint-postgres

redis

uvicorn

psycopg[binary]

httpx
aiohttp